.content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 25px;
}

.header
{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #6a6a72;
    padding: 10px;
}

.textnotifications
{
    display: flex;
    color:#b5b5b5;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

.textnotifications .icon
{
    color: #f1cb82;
    width:20%;
    display:flex;
    font-size: 65px;
    margin-right: 10px;
}

.infoarea
{
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #c0c0c0;
    font-size: 13px;
}

.infoarea .icons
{
    justify-content: left;
    font-size: 12px;
    color: #c0c0c0;
}

.icons .iconshover:hover
{
    color: #444444;
}

.infoarea .time
{
    justify-content: right;
}


 .buttonsarea
{
    display: flex;
    justify-content: space-between;
}

.buttonsarea .confirm
{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #3fd888;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.confirm:hover
{
    background-color: #04c45d;
}

.buttonsarea .cancel
{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    align-items: center;
    color: #FFF;
    background-color: #f4617d;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.cancel:hover
{
    background-color: #c23a53;
}

.buttonsarea .reshedule
{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #e1a835;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.reshedule:hover
{
    background-color: #db9302;
}