.area_name .area_title, .area_name .area_count, .areas_total
{
    display: flex;
    align-items: center;
}

.areas_total
{
    padding: 0 15px;
    justify-content: space-between;
    font-size: 13px;
}
.area_name
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #4d4d4d;
    padding: 3px 15px;
    transition: 0.2s;
}

.area_name:hover
{
    cursor: pointer;
    background-color: #eee;
}
