.schedule_content
{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.schedule_area
{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.schedule_minimal
{
    display: flex;
    flex-direction: column;
    width: 35%;
    border-left: 1px solid #EBEBEB;
    padding: 0px 25px;
    margin-left: 25px;
}

.schedule_minimal h4
{
    margin: -1px 0px 15px 0px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    color: rgb(0, 0, 0, 0.6);
}

.counter_area
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: solid 1px #ebebeb;
}

.counter_area .number
{
    font-size: 35px;
    font-weight: bold;
    color: #0B821F;
    margin-right: 5px
}

.counter_area .description
{
    color: #707070;
    font-weight: 500;
}

.calendar_future
{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.calendar_action
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    border-top: solid 1px #ebebeb;
    padding-top: 10px;
}

.schedule_minimal h3
{
    font-weight: 600;
    color: rgb(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size:16px;
    padding: 0px;
    margin-bottom: 20px;
}

.schedule_area_header
{
    display: flex;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.schedule_area_header_title
{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
    width: 100%;
}

.schedule_area_header_filter
{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    padding: 0px 0px 20px 0px;
}

.schedule_area_header_filter_date
{
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
}

.schedule_area_candidate
{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}

.schedule_area_candidate_content
{
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    max-height: 432px;
}

.schedule_area_candidate_content_line_header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDECFF;
    align-items: center;
}

.schedule_area_candidate_content_line
{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDECFF;
    align-items: center;
}


.schedule_area_candidate_content_line .column_a, .schedule_area_candidate_content_line_header .column_a
{
    border-right: 1px solid #DDECFF;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-align: right;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width:35px;
    margin-right: 5px;
}

.schedule_area_candidate_content_line .column_x, .schedule_area_candidate_content_line_header .column_x
{
    border-right: 1px solid #DDECFF;
    font-size: 12px;
    text-align: center;
    justify-content:center;
    padding-top: 5px;
    width: 25%;
}


.schedule_area_header h2
{
    flex-direction: column;
    margin: 0 0 1px 0;
    font-weight: 600;
    color:rgb(0, 0, 0, 0.6);
    font-size:16px;
    text-transform:uppercase;
}

.schedule_area_header p
{
    color: #707070;
    font-size: 13px;
    padding: 0;
    margin: 2px 0 25px 0;
}

.schedule_area_header span.feature
{
    color:#3B92E7;
}







@media screen and (max-width:1366px) 
{
    .schedule_area
    {
        width: 100%;
        flex-wrap: nowrap;
        flex: 1;
    }
    .schedule_area_header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-top: 20px;
        width: 100vw;
    }
    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 25px 0 50px;
    }

}

@media screen and (max-width:1024px) 
{
    .schedule_content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
        width: 100%;
    }

    .schedule_area
    {
        width: 100%;
    }

    .schedule_minimal
    {
        width: 100%;
        margin-bottom: 50px;
        border-left: none;
        padding-left:0px;
        margin-right: 25px;
    }

    .schedule_area
    {
        width: 100%;
        flex-wrap: nowrap;
        flex: 1;
    }
    .schedule_area_header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-top: 20px;
        width: 100vw;
    }

    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 25px 0 50px;
    }

}



@media screen and (max-width: 812px) 
{
    .schedule_content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
    }

    .schedule_area
    {
        width: 100%;
    }

    .schedule_minimal
    {
        width: 100%;
        margin-bottom: 50px;
    }

    .schedule_area_header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .schedule_area_header_filter
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }


}

@media screen and (max-width: 768px) 
{

    .schedule_content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
    }

    .schedule_area
    {
        width: 100%;
    }

    .schedule_minimal
    {
        width: 100%;
        margin-bottom: 50px;
    }

    .schedule_area_header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .schedule_area_header_filter
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }

}

@media screen and (max-width: 540px) 
{
    .schedule_content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
    }

    .schedule_area
    {
        width: 100%;
    }

    .schedule_minimal
    {
        width: 100%;
        margin-bottom: 50px;
    }

    .schedule_area_header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .schedule_area_header_filter
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }
    
}

@media screen and (max-width: 414px) 
{

    .schedule_content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0px;
    }

    .schedule_area
    {
        width: 100%;
    }

    .schedule_minimal
    {
        width: 100%;
        margin-bottom: 50px;
    }

    .schedule_area_header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .schedule_area_header_filter
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule_area_header_filter_date
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }

}